		*{
			padding: 0px;
			margin: 0px;
			box-sizing: border-box;
			border: none;
			outline: none;
		}
		.image{
			margin: auto;
			margin-top: 10px;
			width: 150px;
			height: 150px;

		}
		.image img{
			width: 100%;
			height: 100%;
			object-fit: cover;
            
		}

		.morada{
			
			font-size: 12px;
			font-family: sans-serif;
			text-align: center;
			margin-top: -50px;
		}

		
		h4{
			font-size: 12px;
			font-family: sans-serif;
			font-weight: normal;
			text-align: center;
		
		}
		
		.hr1{

			width: 100%;
			height: 1px;
			background: #000;
			color: #000;
			margin-top: -15px;

		}
		
		.data-2{
			
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;
			margin-top: -14px;
			text-align: center;
			
		}
		h6{
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;
			margin-top: 10px;
			text-align: center;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;
			text-align: center;
		}
		table tbody tr:nth-child(even){
			background: #f3f3f3;
		}
		table th{
			padding: 10px;
			border-bottom: 1px solid #111;
			font-size: 20px;
			font-family: sans-serif;
			font-weight: normal;
			text-align: center;

		}
		table td{
			padding: 10px;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: normal;
			text-align: center;
		}
		.hr4{
			width: 100%;
			color: #111;
		}
		.valores-1{
			margin-top: 30px;
			width: 300px;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;

		}

		.taxa1{
			width: 50%;
			float: left;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;

		}
		.taxa2{
			width: 15%;
			float: right;
			margin-top: 0px;
			text-align: center;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;


		}
		.hrtaxa{
			width: 100%;
			height: 1px solid #000;
			margin-top: -10px;
		}
		#tra{
			font-size: 11px;
			margin-top: -8px;
		}

		.valores{

			width: 300px;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;

		}
		.valores-1{
			margin-top: 40px;
			width: 300px;
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;
			

		}
		.taxa3{
			width: 70%;
			float: left;
			margin-top: -12px;
			border-top: 1px solid #000;

		}
		.taxa4{
				border-top: 1px solid #000;
			width: 30%;
			float: right;
			margin-top: 0px;
			text-align: center;

		}
		.op{
			font-size: 11px;
			font-family: sans-serif;
			font-weight: normal;
			text-align: center;
		}
