.image{
	position: absolute;
	top: 10px;
	left: 45px;
	width: 110px;
	height: 110px;
}
.image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.morada{
	position: absolute;
	top: 105px;
	left: 48px;
	font-size: 11px;
	font-family: sans-serif;
}
.perfil{
	position: absolute;
	top: 105px;
	left: 510px;
	font-size: 11px;
	font-family: sans-serif;
}
#dt{
	margin-top: 12px;
}
h4{
	position: absolute;
	top: 225px;
	left: 55px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
}
h5{
	position: absolute;
	top: 225px;
	left: 690px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
}
.hr1{
	width: 100%;
	height: 2px;
	color: #111;
	margin-top: 205px;
}
.data{
	position: absolute;
	top: 270px;
	left: 55px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 22px;

}
.data-1{
	position: absolute;
	top: 270px;
	left: 250px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 22px;
}

.data-3{
	position: absolute;
	top: 270px;
	left: 460px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 22px;
}
.data-2{
	position: absolute;
	top: 270px;
	left: 620px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 22px;
}
#center{
	text-align: center;
}
.data1{
	border-top: 1px solid #111;
}
h6{
	margin-top: 100px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
}
.hr2{
	width: 100%;
	height: 1px;
	color: #111;
	margin-top:-15px;
}
.tipo{
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	margin-top: -10px;
}
.hr3{
	width: 100%;
	height: 1px solid #000;
	margin-top: 15px;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	text-align: center;
}
table th{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
table td{
	padding: 10px;
}
.taxa{
	width: 300px;
	margin-top: 100px;
	float: left;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
}
table tbody tr:nth-child(even){
	background: #f3f3f3;
}

.taxa1{
	width: 50%;
	float: left;
}
.taxa2{
	width: 30%;
	float: right;
	margin-top: 0px;
	text-align: center;

}
.hrtaxa{
	width: 100%;
	height: 1px solid #000;
	margin-top: -10px;
}
#tra{
	font-size: 11px;
	margin-top: -8px;
}

.valores{

	width: 600px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;

}
.valores-1{
	margin-top: 40px;
	width: 300px;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	float: right;

}


.taxa33{
	width: 32%;
	float: left;
	margin-top: -12px;
	border-top: 1px solid #000;

}
.taxa44{
		border-top: 1px solid #000;
	width: 68%;
	float: right;
	margin-top: 0px;
	text-align: center;

}


.taxa35{
	width: 75%;
	float: left;
	margin-top: -12px;
	border-top: 1px solid #000;

}
.taxa45{
		border-top: 1px solid #000;
	width: 25%;
	float: right;
	margin-top: 0px;
	text-align: center;

}







.taxa3{
	width: 75%;
	float: left;
	margin-top: -12px;
	border-top: 1px solid #000;

}
.taxa4{
		border-top: 1px solid #000;
	width: 25%;
	float: right;
	margin-top: 0px;
	text-align: center;

}
.taxa5{
	width: 35%;
	float: left;
	margin-top: -12px;
	border-top: 1px solid #000;

}
.taxa6{
		border-top: 1px solid #000;
	width: 65%;
	float: right;
	margin-top: 0px;
	text-align: center;

}